doctype html
html
  head
    title Test Game
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='javascripts/lib/jquery-1.10.2.min.js')
    script(type='text/javascript', src='javascripts/lib/underscore-min.js')
    script(type='text/javascript', src='javascripts/lib/melonJS-0.9.10.js')
    script(type='text/javascript', src='javascripts/game.js')
    script(type='text/javascript', src='javascripts/client.js')
    script(type='text/javascript', src='javascripts/screens/play.js')
    script(type='text/javascript', src='javascripts/screens/title.js')
    script(type='text/javascript', src='javascripts/resources.js')
    script(type='text/javascript', src='javascripts/entities/bullet.js')
    script(type='text/javascript', src='javascripts/entities/player.js')
    script(type='text/javascript', src='javascripts/entities/enemy.js')
  body
    block content