doctype html
html
  head
    title Login to Facebook to play this game
    link(type='text/css', rel='stylesheet', href='stylesheets/style.css')
  body
  h2 Zombie Attack
  p.login
   | You need to login to 
   a(href='/auth/facebook') Facebook
   |  to play this game